body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0D1117;       /* Optional dark TRON background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tron{
  color: black;               /* Optional TRON-blue text color */
  text-shadow: 0 0 3px #00f0ff, 0 0 7px #00f0ff; /* Optional neon glow */
}
.tronhover{
  color: #E2F6FC;  
}

.tronhover:hover{
  color: black;               /* Optional TRON-blue text color */
  text-shadow: 0 0 3px #00f0ff, 0 0 7px #00f0ff; /* Optional neon glow */
}